body {
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

header > h1 {
    color: #f44236;
    font-size: 40px;
    margin-bottom: 10px;
}

header a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

header nav {
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

header nav ul {
    list-style: none;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
    margin-left: 20px;
}

.btn {
    display: inline-block;
    background-color: #f44236;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: Arial, sans-serif;
}

.btn:hover {
    background-color: #CC241D;
}

.secondary-nav {
    background-color: #333;
    text-align: center;
    border-top: 5px solid #fff; /* Borde superior blanco */
    margin-top: 20px; /* Margen superior para separación */
}

.secondary-nav ul {
    list-style-type: none;
    margin-bottom: -7px;
}

.secondary-nav ul li {
    display: inline;
    margin-right: 20px;
}

.secondary-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
}

.secondary-nav ul li a:hover {
    background-color: #555;
}

.nuestrosProductos{
    text-align: center;
}

.nuestrosProductos h2{
    font-size: 45px;
    color: #2c3e50; /* Cambia el color del texto */
    margin-bottom: 30px; /* Aumenta el espacio inferior */
    text-transform: uppercase;
    font-family: 'Arial', sans-serif; /* Cambia la fuente */
    font-weight: 500;
    display: inline-block; /* Hace que el h2 sea un elemento en línea */
    border-bottom: 2px solid #f44236; /* Agrega un borde inferior */
    padding-bottom: 10px; /* Agrega espacio entre el texto y el borde inferior */
    padding-top: 20px;
}

.bodyUS {
    position: relative;
    text-align: center;
    color: white;
}

.background-img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.5s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/* Contenedor principal */
.contenedor {
    padding: 20px;
    margin-top: 20px;

}

.contenido {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    border-radius: 10px;
    border: #CC241D 2px solid;
    margin-top: 120px;
}

/* Estilos de las filas */
.fila {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.fila h2{
    border-bottom: 2px solid #f44236; /* Agrega un borde inferior */
    padding-bottom: 2%;
}

.foto, .info {
    flex: 1;
    padding: 10px;
}

.foto img {
    width: 60%;
    border-radius: 10px;
}

.imagen2{
    width: 40% !important;
}


/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative; /* Posicionamiento relativo */
    margin-top: 10%;
}

  
/* Media Queries para pantallas pequeñas */
@media screen and (max-width: 768px) {

    header {
        padding: 10px;
    }

    header > h1 {
        font-size: 30px;
    }

    header nav {
        flex-direction: column;
    }

    header .primary-nav{
        padding-right: 10%
    }

    header .secondary-nav{
        padding-right: 5%;
        border-top: 5px solid #fff; /* Borde superior blanco */
        margin-top: 0px; /* Margen superior para separación */        
    }

    .secondary-nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        padding: 0px 0px;
    }

    header a{
        font-size: 14px !important;
    }


    header nav ul li {
        margin: 10px 0;
        flex: 1;
        font-size: 11px !important;
    }

    .aProductos{
        margin-left: -4px;
        margin-right: 4px;
    }

    .nuestrosProductos  h2{
        font-size: 30px;
    }

    .fila {
        flex-direction: column;
    }

    .fila2 {
        flex-direction: column-reverse; /* Imagen a la izquierda, texto a la derecha */
    }
    
    .foto, .info {
        padding: 5px;
    }

    p {
        line-height: 1.6;
    }

    .background-img {
        width: auto;
        height: 100vw; /* Ajuste la altura a la anchura de la ventana */
        transform: rotate(90deg);
        top: 30%; /* Centra verticalmente la imagen */
        left: 50%; /* Centra horizontalmente la imagen */
        transform: translate(-50%, -50%) rotate(90deg);
    }

    .contenido{
        margin-top: 100px;
    }
}
