
body {
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

header > h1 {
    color: #f44236;
    font-size: 40px;
    margin-bottom: 10px;
}

header a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

header nav {
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

header nav ul {
    list-style: none;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
    margin-left: 20px;
}

.btn {
    display: inline-block;
    background-color: #f44236;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: Arial, sans-serif;
}

.btn:hover {
    background-color: #CC241D;
}

.secondary-nav {
    background-color: #333;
    text-align: center;
    border-top: 5px solid #fff; /* Borde superior blanco */
    margin-top: 20px; /* Margen superior para separación */
}

.secondary-nav ul {
    list-style-type: none;
    margin-bottom: -7px;
}

.secondary-nav ul li {
    display: inline;
    margin-right: 20px;
}

.secondary-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
}

.secondary-nav ul li a:hover {
    background-color: #555;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    font-family: 'Arial', sans-serif !important;
}

.nuestrosProductos{
    text-align: center;
}

.nuestrosProductos h2{
    font-size: 45px;
    color: #2c3e50; /* Cambia el color del texto */
    margin-bottom: 30px; /* Aumenta el espacio inferior */
    text-transform: uppercase;
    font-family: 'Arial', sans-serif; /* Cambia la fuente */
    font-weight: 500;
    display: inline-block; /* Hace que el h2 sea un elemento en línea */
    border-bottom: 2px solid #f44236; /* Agrega un borde inferior */
    padding-bottom: 10px; /* Agrega espacio entre el texto y el borde inferior */
    padding-top: 20px;
}

/* Estilos para cada producto */
.product {  
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 2%;
    padding: 1%;
    margin-left: 0.2%;
    margin-right: 0.2%;
}

.product img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product .details {
    padding: 20px;
}

.product h2 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 10px;
}

.product .price {
    color: #2c3e50;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.product .btn {
    display: inline-block;
    background-color: #f44236;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.product .btn:hover {
    background-color: #CC241D;
}


/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative; /* Posicionamiento relativo */
    margin-top: auto; /* Margen superior automático */
}


/* Media Queries para pantallas pequeñas */
@media screen and (max-width: 768px) {

    header {
        padding: 10px;
    }

    header > h1 {
        font-size: 30px;
    }

    header nav {
        flex-direction: column;
    }

    header .primary-nav{
        padding-right: 10%
    }

    header .secondary-nav{
        padding-right: 5%;
        border-top: 5px solid #fff; /* Borde superior blanco */
        margin-top: 0px; /* Margen superior para separación */        
    }

    .secondary-nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        padding: 0px 0px;
    }


    header nav ul li {
        margin: 10px 0;
        flex: 1;
    }
}